@import '../../library/components/NRLabsMultiSelect/styles.scss';
@import '../../library/components/NRLabsFilterBar/styles.scss';

.container {
  margin: 1em;
  

  .control-bar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1em;
  }


}
